
 
 h1{
    color: blueviolet;
 }

form{
    background-color: #6b5acd;
    color: white;
    width: 800px;
    margin: 0 auto;

    
    
}

.first{
    width: 4cm;
    
}

.two{
    text-align: center;
}

#green{
    color: green;
}